set_io EN_IN_1    12
set_io EN_IN_2    11
set_io EN_IN_3    10
set_io EN_IN_4    9
set_io EN_IN_5    6
set_io EN_IN_6    4
set_io EN_IN_7    3
set_io EN_IN_8    2
set_io OE         13

set_io DIN        38
set_io CIN        37
set_io DO         36
set_io CO         35

set_io ICE_MISO   14
set_io ICE_MOSI   17
set_io ICE_SCK    15
set_io ICE_SS     16

set_io TP_1       43
set_io TP_2       42
set_io TP_3       47
set_io TP_4       44
set_io TP_5       48
set_io TP_7       20
