set_io LED_SCK      4
set_io LED_MOSI     2
set_io LED_MISO     48
set_io LED_CS       3

set_io DATA_1       25 
set_io CLOCK_1      23
set_io DATA_2       27
set_io CLOCK_2      26
set_io DATA_3       31
set_io CLOCK_3      28
set_io DATA_4       34
set_io CLOCK_4      32
set_io DATA_5       36
set_io CLOCK_5      35
set_io DATA_6       38
set_io CLOCK_6      37
set_io DATA_7       43
set_io CLOCK_7      42
set_io DATA_8       45
set_io CLOCK_8      44
set_io DATA_9       47
set_io CLOCK_9      46
set_io DATA_10      21
set_io CLOCK_10     20

set_io LED1         41
set_io LED2         40
set_io LED3         39

set_io DMX_IN       19
set_io DMX_OUT      18

#set_io SDO_SD0     9
#set_io SDI_SD1     6
#set_io SHD_SD2     13
#set_io SWP_SD3     12
#set_io SCK_CLK     10
#set_io SCS_CMD     11

#set_io ICE_MISO   14
#set_io ICE_MOSI   17
#set_io ICE_SCK    15
#set_io ICE_SS     16
