set_io LED_R	41
set_io LED_B	39
set_io LED_G	40

set_io D        47
set_io C        46
set_io B        2
set_io A        45
set_io GCLK     48
set_io LE       3
set_io DCLK     4
set_io SDI      44

set_io DMX_IN   28
set_io RS485_RE 38
set_io RS485_DE 42
